*{
    margin: auto;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    scroll-behavior: smooth;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

.menu h1{
    color: rgb(90, 90, 90);
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 2px violet;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.menu{
    height: 120px;
    width: 100%;
    position: fixed; 
    background-image:linear-gradient(to right, #ffcdcf 70%, white);
    border-radius: 15px;
}
.menu ul{
    text-align: center;
    margin-top: 35px;
    display: flex;
    color: black;
}
.menu a{
    margin: auto;
    font-size: 19px;
    text-decoration: none;
    color: black;
}

.menu a:hover{
    background-image: linear-gradient(to right, violet, white);
    border-radius: 5px;
    padding: 7px;
    transition: 1s;
    text-decoration: underline;
}
.menu a:visited{
    text-decoration: none;
    color: rgb(54, 23, 0);
}

main{
padding-top: 80px ;
}

.section1{
    text-align: center;
    padding: 40px;
}
.section1 h1{
    margin-top: 50px;
    text-decoration: underline;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;
}
.section1 p{
    color: rgb(90, 90, 90);
}
.section2{
    margin-top: 100px;
    text-align: center;
}
.section2 h1{
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;
    text-decoration: underline;
}
.section2 p{
    font-size: 18px;
    margin-top: 100px;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;
}
.section2 a:visited{
    color: black;
}
.botao{
    background-color: violet;
    font-size: 19px;
    border: none;
    text-align: center; 
    border-radius: 5px;
}
.section2 p a .botao:hover{
    transition: 0.5s;
    cursor: pointer;
    background-image: linear-gradient(to right, violet, white); 
    box-shadow: 2px 2px 2px 1px grey;
    color: black;
}
.section3{ 
    margin-top: 200px;
    padding-bottom: 140px;
    text-align: center;
}
.curso p{
    font-size: 16px;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;
    text-decoration: underline;
}
.section3 h1{
    text-decoration: underline;
    margin-top: -10px;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;
}
.section3 h4{
    margin-top: 40px;
    text-decoration: underline;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;
}
.section3 a{
    text-decoration: none;
    color: rgb(54, 23, 0);
}
.section3 h4 a:visited{
    color: rgb(54, 23, 0);
}

.section3 a:hover{
    font-size: 16px;
    padding: 3px;
    box-shadow: 3px 3px 5px gray;
    transition: 1s;
    border-radius: 4px;
    background-image: linear-gradient(to right , violet , white);
    
}

.curso span{
    text-decoration: underline;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;
}
.curso h1{
    text-decoration: underline;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 2px violet;

}
footer{
    border-top: 1px solid black;
    background-image: linear-gradient(to right,#ffcdcf 70%, white);
    padding: 20px;
    text-align: center;
    margin-top: 0px;
}
footer p{
    color: black;
}
.seta{
    position: absolute;
    margin-left: 16%;
    margin-top: 2210px;
    width: 30px;
    height: 70px;
   
    transform: translateX(-50%);
    animation-name: seta;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.foto-curso>img{
    margin-top: 40px;
    box-shadow: 3px 3px 3px rgb(83, 83, 83);
}

.foto-curso input{
    margin-top: 10px;
}
.foto-curso p{
    text-decoration: none;
    text-align: center;
}
.btn{
    margin-top: 20px;
}

@keyframes seta{
    0%{
        top: 0px;
    }    
    100%{
        top: 20px ;
 }
}

.foto1 , .foto2 , .foto3{
    margin-top: 80px;
}

.foto1 p ,  .foto2 p{
    text-align: justify;   
    text-align: center;
    text-align: center;
    text-shadow: 2px 2px 2px violet;
    width: 27%;
    font-size: 18px;
}
.foto3 p{

    text-shadow: 2px 2px 2px violet;
    width: 31%;
    font-size: 18px;
}
.foto4{
    margin-top: 70px;
}
.foto4 p{

    text-shadow: 2px 2px 2px violet;
    color: rgb(90, 90, 90);
    width: 40%;
    font-size: 18px;
}
.curso{
    padding-top: 160px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}



.btn{
    border-radius: 5px;
    padding: 5px;
}

.btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right , violet , white);
    padding: 20px;
    transition: 1s;
}

main{
    background-image: linear-gradient(to right,#ffcdcf 70%, white);
}
header{
    background-image: linear-gradient(to right,#ffcdcf 70%, white);
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:500px) {
    .foto1 p, .foto2 p, .foto3 p, .foto4 p, .curso p{
        font-size: 15px;
        width: 55%;
        text-align: center;
    }
}

@media (max-width:1322px){
    .seta{
        display: none;
    }
  
}
@media (min-width:1370px){
    .seta{
        display: none;
    }
}

@media (min-width: 1000px){
    .menu a{
        margin-top: 0px;
        display: flex;
    }
    .section2 h1{
        padding-top: 150px;
    }
    .section1 h1{
        padding-top: 60px;
    }
}



@media (max-width: 999px){
    body{
        height: auto;
        }
        .curso p{
            font-size: 16px
            
        }

    .menu{
        height: 120px;
        border-bottom: 3px solid;
        border-image: linear-gradient(to right, rgb(238, 115, 238) , violet , white) 1 ;
    }   
    .menu > h1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .menu a{
        margin-top: -25px;
        font-size: 14px;

    }
    .menu ul{
        display: inline-block;
        width: 100%;
        padding: 3px;
    }
    .section1 h1{
        margin-top: 90px;
    }
    .section2 h1{
        padding-top: 120px ;
    }
    .foto4{
        margin-bottom: -150px;
    }
}


@media (max-width:320px){
    .menu ul{
        margin-right: 30px;
    }
    .menu h1{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }    
}

@media (min-width:320px){
    .menu ul{
        display: flex;
    }
    .curso p{
        font-size: 15px;
    }
   .foto-curso p{
       font-size: 15px;
   }
    .menu h1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }    
}